/*Reset*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*Menu principal*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e20f0f;
    padding: 15px 30px;
}
 
/*Logo*/
.logo{
color: rgb(255, 0, 0);
font-size: 24px;
font-weight: bold;
}
/*Lista*/
.menu-links{
    list-style: none;
    display: flex;
    gap: 25px; /*espaço entre os itens*/
}
/*Link*/
.menu-links a{
    text-decoration: none;
    color: gray;
    font-size: 16px;
    transition: 0.3s;
}
/*Hover*/
.menu-links a:hover {
    color: #e20f0f;
}
/*itens ativos*/
.menu-links .ativo{
    color: blue;
    font-weight: bold;
}
/*footer*/
/*barra vermelha superior*/
.barra-alerta{
    background-color: #8001c8;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
/*container principal*/
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 30px;
    flex-wrap: wrap;
}
 /*logo*/
.footer-logo h2 {
    color:#e20f0f
}   
/*link do link*/
.footer-link{
    display: flex;
    /*flex-direction: column;*/
    gap: 10px;
}
.footer-link a{
    text-decoration: none;
    color: #444;
    font-size: 14px;
}
.footer-link a:hover{
    color: #a8001c;
}
/*redes sociais*/
.footer-redes{
    display: flex;
    gap: 15px;
}
.footer-redes a{
    text-decoration: none;
    color: #444;
    font-size: 14px;
}
.footer-redes a:hover{
    color: #a8001c;
}
